<h3> counter :{{_webcallsObj.counter}}</h3>
<button (click)="_webcallsObj.addCounter()">Add counter</button>



<h1 class = "about">About</h1>
<div class = "details"><b>I am R.Rajalakshmi I have completed my Bachelor of Engineering in Computer Science and Engineering at xyz Institute Of Technology.<br>
        I have completed my schooling with 80%.<br>I have completed my degree with 83%.<br>I have got placed in cognizant technology solutions and 
        I have completed my Intern in cts .<br>I am Currently doing my angular training in cts.</b></div>
 
<h1 class ="contact">Contact</h1>
<div class ="info"><b>Phone NO </b>: 123456890 <br> <b>email</b> : abc@gmail.com <br> <b>Linkedin</b> : abc@gmail.com <br> <b>Facebook</b> : abc@123 <br><b> Twitter </b>: abc@23</div> 
 
<h1 class="hobby"> Hobbies </h1>
<div class="hob"><ol><li>Gardening</li>
                <li>Cooking</li>    
                <li>Reading Books</li>
                <li>Learning new Skills</li>
                <li>listerning music</li></ol></div>

<h1 class = "skill">Skills</h1>  
<div class="ski">Having a knowledge on below domains
                     <ul><li>AWS cloud computing </li>
                        <li>Aritifical Intelligence</li>
                        <li>Python</li>
                        <li> Full Stack Development</li>
                        <li>Basic knowledge on Cyber Security</li></ul>

                   <b> <i>Some of the soft skills that I belive I have are listed below</i></b>
                <ul><li>strong communication skill</li>
                <li>Leadership Skills</li>
                <li>Organizational Skills</li>
                <li>Teamwork Skills</li>
                <li>Problem-Solving Skills</li>
                <li>Creative Thinking Skills</li>
                <li>Critical Thinking Skills</li>
                <li>Adaptability and Time management skill</li></ul></div>
                
<h1 class = "experience">Experience and projects</h1>
<div class = "exp"><b style="font-size:35px;color: chocolate;">Experience</b><br>
                  <br><ol style="font-size:30px;"><li>I have attented a training on aws cloud computing condected by Ict acadamy.</li>
                  <li> I Have done courses about Artifical Intelligence in coursera and edx platforms.</li>
                  <li> I have Completed my Intern at cts in Full Stack Development.</li>
                  <li> I have done courses on basics of cyber Security offered by ICT Acadamy.</li></ol>

                <b style="font-size:35px;color: chocolate;">Projects</b><br>
                   <ol style="font-size: 30px;"><li>I have done my final Year project in Machine Learning.</li>
                    <li>In my Intern,I have done a project in full satck Development.</li></ol>
                </div>
